/* ------------ MAIN ------------- */

body, html {
    width: 100%;
    height: 100%;    
}

body {
    position: relative;
    margin: 0 auto;
    font-family: Lato, sans-serif;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}

.hidden {
    display: none;
}

.underline {
    border-bottom: 1px solid #f57365;
}

/* ------------ HEADER ------------- */


.b-header {
    position: absolute;
    width: 100%;
}

.b-header__logo {
    float: left;
    margin: 15px 0px 0px 177px;
}

.b-header__logo__link {
    display: block;
    cursor: pointer;
}

.b-header__nav {
    float: right;
    margin: 39px 184px 0 0px;
}

.b-header__menu-item {
    float: right;
    margin: 19px;
    font-size: 14px;
    font-weight: bold;
}


/* ------------ MAIN CONTENT ------------- */


/* ------------ Main Banner ------------ */

.b-main-banner {
    height: 1047px;
    background: url(../images/main_content/main_banner.png) no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

.b-main-banner__headers {
    position: relative;
    top: 412px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.b-main-banner__favorite {
    font-family: 'Times New Roman';
    font-size: 36px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 3px; 
}

.b-main-banner__recipes {
    font-size: 100px; 
    line-height: 1;
    letter-spacing: 5px; 
    position: relative;
    top: 10px;
}

.b-main-banner__started {
    position: relative;
    top: 57px;
    font-size: 16px;
}

.b-main-banner__started a {
    border: 3px solid #fff;
    padding: 20px 77px 24px 78px;
    display: inline;
    position: relative;
    top: 20px;
    transition: background-color 0.5s ease;
}

.b-main-banner__started a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.5s ease;
}

.b-main-banner__send {
    position: relative;
    top: 149px;
    font-weight: normal;
    letter-spacing: 1px;
}

.b-main-banner__send span {
    text-decoration: underline;
}

/* ------------ Columns ------------- */

.b-columns {
    display: flex;
    margin: 100px 150px;
}

.b-columns__column {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 20px;
}

.b-columns__header {
    margin: 20px 0 10px;
    font-weight: 700;
}

.b-columns__underline {
    width: 75px;
    margin: 0 auto 24px;
}

.b-columns__text {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
}

/* ------------ App ------------- */

.b-app {
    background-color: #f7f7f7;
    padding: 10% 207px 0 7%;  
}

.b-app:after {
    content: '';
    display: block;
    clear: both;
}

.b-app__main-image {
    float: left;
    width: 522px;
    height: auto;
}

.b-app__underline {
    margin: 7px 0 10px;
    width: 194px;
}

.b-app__main-article__header h3 {
    font-size: 18px;
    font-weight: bold;
}

.b-app__main-article {
    margin: 30px 0 0 559px;
}

.b-app__main-article__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.125;
    margin: 27px 0 20px;     

}

/* ------------ Review ------------- */

.b-slider {
    background: url(../images/main_content/review/review_banner.png) no-repeat; 
    background-size: cover;
    background-position: 50% 0;
    padding: 78px 0 0;
    min-height: 460px;
    overflow: hidden;
    position: relative;
}

.b-slider__review {
    overflow: hidden;
}
/*
.b-slider__review.active {
    display: block;
}*/

.b-review__review__1, .b-review__review__2, .b-review__review__3 {  
    text-align: center;
}

.b-review__review__2, .b-review__review__3 {
    display: none;
}

.b-slider__review__img {
    border: 6px solid #948b94;
    border-radius: 100%;
}

.b-slider__review__text, .b-slider__review__author {
    color: rgba(255, 255, 255, 0.5);
    font-size: 33px;
    font-weight: 100;
    text-align: center;
    line-height: 1.5em;
    padding: 10px;
}

.b-slider__review__author {
    font-style: italic;
    font-size: 18px;
}

.b-slider__controls {
    list-style-position: inside;
    width: 64px;
    margin: 10px auto 0;
}

.b-slider__controls__button {
    list-style: disc;
    font-size: 27px;
    color: #948b94;
    float: left;
    margin: 10px;    
    position: relative;
    left: 26px;
    cursor: pointer;
}

.b-slider__controls__button.active  {
    color: #fff;
}

.b-slider__control {
    display: inline;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 10;
    width: 96px;
    height: 100%;
}

.b-slider__control_right {
    right: 0;
}


/* ------------ Cuisines ------------- */

.b-ciusunes__header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 100px 0px 0px;
}

.b-ciusunes__underline {
    width: 88px;
    margin: 10px auto 40px;
}

.b-ciusunes__list-item {
    position: relative;
    float: left;
    width: 20%;
}

.b-ciusunes__image {
    width: 100%;
}

.b-ciusunes__text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 40%;
    margin: 0 auto;
    width: 100%;
}

.b-ciusunes__list-item_row-2 {
    margin-top: -4px;
}

.b-ciusunes__recipes {
    font-family: 'Times New Roman';
    font-style: italic;
    letter-spacing: 1.5px;
}

.b-ciusunes__country {
    font-size: 36px;
    font-weight: bold;
}

.b-ciusunes__list:after {
    content: '';
    display: block;
    clear: both;
}


/* ------------ Counters ------------- */

.b-quantities {
    height: 176px;
    width: 90%;
    margin: 0 auto;
}

.b-quantities__counter  {
    margin: 57px 0px 60px;
    display: inline-block;
    width: 19%;
}

.b-quantities__p {
    text-align: center;
}

.b-quantities__p_number {
    font-size: 36px;
    font-weight: bold;
}

.b-quantities__p_text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.125;
}


/* ------------ Footer ------------- */

.b-footer {
    height: 90px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(226, 226, 226);
}

.b-footer__copyright, .b-footer__design {
    display: inline-block;
}

.b-footer__copyright {
    margin: 40px 0px 40px 210px;
}
 
.b-footer__design {
    float: right;
    margin: 40px 210px 40px 0px;
}

.b-footer__copyright__text {
    color: rgb(207,207,207);
}

.b-footer__design_left {
    color: rgb(139,139,139);
    
}

.b-footer__design_link {
    color: rgb(30, 30, 30); 
}